<h3 class="title widget"  style="text-align: center;">
  <a href="http://horin.ir">
    ورود به چت  
  </a>
</h3>
<% theme.widgets.forEach(function(widget){ %>
  <%- partial('../_widget/' + widget) %>
<% }); %>
